.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90dvh;

  .auth-form {
    background-color: var(--color-bg2);
    padding: 3rem;
    border-radius: 5px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .or {
    text-align: center;
    margin-top: 1rem;
    color: var(--color-);
  }
  span {
    color: var(--color-text);
    cursor: pointer;
    font-weight: bold;
  }
  span:hover {
    color: var(--color-primary);
  }
  Button {
    margin-top: 1rem;
  }
}
