@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  background-color: var(--color-bg);
  color: var(--color-text);
  min-width: 100%;
  min-height: 100dvh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}
.container {
  padding: var(--space-xl) 5rem;
}

main {
  margin-top: 80px;
  flex: 1;
}
