* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #603fef;
  --color-sec: #4d00ff;
  --color-hover: #9933ff;
  --color-bg: #1a2337;
  --color-bg2: #1d2b48;
  --color-bg3: #232936;
  --color-text: #f4f5f7;
  --color-text2: #939393;

  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-base: 1rem; /* 16px */
  --font-lg: 1.125rem; /* 18px */
  --font-xl: 1.25rem; /* 20px */
  --font-2xl: 1.5rem; /* 24px */
  --font-3xl: 2rem; /* 32px */
  --font-4xl: 3rem; /* 48px */

  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
