header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.logo {
  font-size: var(--font-3xl);
  font-weight: 700;
}
.active {
  background-color: var(--color-primary);
  font-weight: 500;
}
.nav-btn {
  color: var(--color-text);
  text-decoration: none;
  padding: var(--space-sm) var(--space-lg);
  border-radius: 5px;
}
.nav-btn:hover {
  background-color: var(--color-primary);
}
