.public-capsule {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .title {
    background-color: var(--color-bg4);
    padding: var(--space-md);
    border-radius: 5px;
  }
  .filter-section {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-bg2);
    border-radius: 5px;
  }
}
